src/main/mule/cicd-jenkins-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e78d33f5-4633-4e70-bdbd-0e430e8a9d0c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-jenkins-implFlow" doc:id="6f4d4b0b-a6e8-4687-97ff-8a4b929c5c1f" >
		<http:listener doc:name="Listener" doc:id="4b508e31-f36c-4720-8010-54a0fac959f7" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="15b0d735-9d9d-4051-a92c-276b2f09c55c" message="Request received"/>
		<set-payload value='#["Success"]' doc:name="Set Payload" doc:id="cc81c915-a34b-4f92-b0fa-a0562ee5817e" />
	</flow>
</mule>
